name: CI

on:
  pull_request:
    branches:
      - main

defaults:
  run:
    shell: bash
    working-directory: CI-CD_for_3tierDockerAPP

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: 3.12

      - name: Install API dependencies
        run: |
          cd api
          pip install -r req.txt

      - name: Run API tests
        run: |
          cd api
          pytest

      - name: Install Web dependencies
        run: |
          cd web
          pip install -r req.txt

      - name: Run Web tests
        run: |
          cd web
          pytest

  build:
    runs-on: ubuntu-latest
    needs: test
    env:
      DB_HOST: ${{ secrets.DB_HOST }}
      DB_USER: ${{ secrets.DB_USER }}
      DB_NAME: ${{ secrets.DB_NAME }}
      API_HOST: ${{ secrets.API_HOST }}

    steps:
      - uses: actions/checkout@v3

      - name: Init Docker Swarm
        run: docker swarm init || true

      - name: Build images
        run: |
          docker build -t stack/api ./api
          docker build -t stack/web ./web

      - name: Create Docker secret
        run: |
          echo "${{ secrets.MYSQL_ROOT_PASSWORD }}" | \
          docker secret create db_password - || true

      - name: Deploy Docker Stack
        run: |
          docker stack deploy -c docker-stack.yml myapp
      
      - name: test docker services
        run: |
          sleep 60
          curl -f http://${{ secrets.API_HOST }}:5000/health || exit 1
          curl -f http://${{ secrets.API_HOST }}:8080/ || exit 1

      - name: push to dockerhub
        env:
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
        run: |
          echo $DOCKERHUB_TOKEN | docker login -u $DOCKERHUB_USERNAME --password-stdin
          docker tag stack/api:latest $DOCKERHUB_USERNAME/stack-api:latest
          docker tag stack/web:latest $DOCKERHUB_USERNAME/stack-web:latest
          docker push $DOCKERHUB_USERNAME/stack-api:latest
          docker push $DOCKERHUB_USERNAME/stack-web:latest
          